option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-1:494807910217:certificate/a8d4ce60-9235-4b88-9fa9-689b5ff0c3b0
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS